/********************************
Colores a utilizar
Gris: #989898 
Gris oscuro: #4d4545 
Celeste: #28c5e6
Anaranjado: #ff6a49
Verde: #77d248 
Amarillo: #ffc200
*********************************/
*{
	font-family: 'Lato', sans-serif;
}
/************Clases que uso más*************/
.relativa{
	position: relative;
}

.left{
	margin-left: 20%;
}

.top{
	margin-top: 10%;
}
.centro{
	text-align: center;
}

.naranja{
	color: #ff6a49;
}
.gris-claro{
	color: #989898;
}

.celeste{
	color: #28c5e6;
}
.amarillo{
	color: #ffc200;
}

.blanco{
	color: #ffffff;
}

.naranja2{
	color: #faa819;
}
/********************************************/


/*Menu*/
.blue{
	background: #CEF6F5;
	background-size: 100%;
	height: 50px;
}

nav ul{
	list-style-type: none;
	margin-top:-3%;
	float: right;
	font-size: 18px;
	line-height: 14px;
}

nav li{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

nav a{
	text-decoration: none;
	padding: 10px 15px;
	color: #989898;
	font-weight: bold;
}

nav a:hover{
	color: #28c5e6;
}


/*Botones del menu*/
.redondo{
	border: 1px solid #989898;
	margin-left: 4px;
	border-radius: 10px;
	padding: 5px 3px;
	font-size: 10px;
	margin-top: -10px;
}

#white{
	background: #cccccc;
	color: white;
	font-weight: bold;
}

/*Contenido*/
.blue2{
	margin-top: 8%;
	margin-left: 40%;
	font-size: 40px;
}

.texto1{
	text-align: center;
	line-height: 30px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
}

.img1{
	width: 15%;
	height: 10%;
	margin-top: 4%;
	margin-left: 45%;
}

/*Boton rojo*/
h6{
	color: #ffffff;
	background: #ff6a49;
	width: 23%;
	height: 40px;
	border-radius: 10px;
	padding-top: 10px;
	margin-top: 1%;
	margin-left: 40%;
	cursor: pointer;
}

a{
	text-decoration: none;
}