/********************************
Colores a utilizar
Gris: #989898 
Gris oscuro: #4d4545 
Celeste: #28c5e6
Anaranjado: #ff6a49
Verde: #77d248 
Amarillo: #ffc200
*********************************/
*{
	font-family: 'Lato', sans-serif;
}
/************Clases que uso más*************/
.relativa{
	position: relative;
}

.left{
	margin-left: 20%;
}

.top{
	margin-top: 10%;
}
.centro{
	text-align: center;
}

.naranja{
	color: #ff6a49;
}
.gris-claro{
	color: #989898;
}

.celeste{
	color: #28c5e6;
}
.amarillo{
	color: #ffc200;
}

.blanco{
	color: #ffffff;
}

.naranja2{
	color: #faa819;
}
/********************************************/


/*Menu*/
.blue{
	background: #CEF6F5;
	background-size: 100%;
	height: 50px;
}

nav ul{
	list-style-type: none;
	margin-top:-3%;
	float: right;
	font-size: 18px;
	line-height: 14px;
}

nav li{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

nav a{
	text-decoration: none;
	padding: 10px 15px;
	color: #989898;
	font-weight: bold;
}

nav a:hover{
	color: #28c5e6;
}


/*Botones del menu*/
.redondo{
	border: 1px solid #989898;
	margin-left: 4px;
	border-radius: 10px;
	padding: 5px 3px;
	font-size: 10px;
	margin-top: -10px;
}

#white{
	background: #cccccc;
	color: white;
	font-weight: bold;
}

/*Seccion blog farolito*/
h2{
	margin-top: 5%;
}

.cuadro{
	margin-top:-14%;
	background: #cccccc;
	width: 90%;
	height: 240px;
	padding: 20px 10px;
	margin-left: 13%;
	border-radius: 6px;
}

img.icon4{
	border-radius: 50%;
	margin-left: 45%;
	margin-top: 20%;
	height: 20%;


}

.descripcion2{
	text-align: center;
	margin: auto;
	margin-top: 10%;
	color: #989898;
}

.cuadro:hover {
	background: #faa819;
	cursor: pointer;
	color: #ffffff

}

.descripcion2:hover{
	color: #ffffff;
}

a{
	text-decoration: none;
}

/*Footer*/
.piedepagina{
	background:#989898;
	background-size: 100%;
	height: 50px;
	margin-top: 5%;
}

.redes{
	border-radius: 53%;
	margin-top: -3%;
	margin-left: 1%;
}

.cr{
	margin-top: -2px;
	left: 75%;
	font-size: 15px;
}